<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snkrhead Webshop</title>
</head>
<body>
<div class="header">
    <div class="header-left">

    </div>
    <div class="header-right">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="/admin">Admin Panel</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
</div>
<div class="hero-div">
    <div class="naslov">
        <h1><i>SNKRHEAD.</i></h1>
        <p>Premium Products for Premium Sneaker heads.</p>
        <a class="shop-btn" href="#">SHOP</a>
    </div>
</div>
<div class="shop-div">
    <div class="shop-div-left">
        <p>New Jordan Drops Available!</p>
        <a href="#">Shop</a>
    </div>
    <div class="shop-div-right">
        <div class="shop-div-right-1">
            <p>New Nike Drops Available!</p>
            <a href="#">Shop</a>
        </div>
        <div class="shop-div-right-2">
            <p>New Nike Drops Available!</p>
            <a href="/showNewUserForm">Shop</a>
        </div>
    </div>
</div>
<div class="shopper-div">
    <div class="shopper-div-1">
        <p class="ime-patike"><i>Nike Air Max 270 G</i></p>
    </div>
    <div class="shopper-div-2">
        <p class="ime-patike"><i>Nike Air Max 270 G</i></p>
    </div>
    <div class="shopper-div-3">
        <p class="ime-patike"><i>Nike Air Max 270 G</i></p>
    </div>
    <div class="shopper-div-4">
        <p class="ime-patike"><i>Nike Air Max 270 G</i></p>
    </div>
</div>

<div class="shopper-div">
    <div class="shopper-div-1">
        <p class="ime-patike"><i>Nike Air Max 270 G</i></p>
    </div>
    <div class="shopper-div-2">
        <p class="ime-patike"><i>Nike Air Max 270 G</i></p>
    </div>
    <div class="shopper-div-3">
        <p class="ime-patike"><i>Nike Air Max 270 G</i></p>
    </div>
    <div class="shopper-div-4">
        <p class="ime-patike"><i>Nike Air Max 270 G</i></p>
    </div>
</div>

<div class="footer">
    <div class="footer-1">
        <h1><i>Snkrhead.</i></h1>
        <p><i>Premium Products for Premium Sneaker heads.</i></p>
    </div>
    <div class="footer-2">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/" class="fa fa-twitter"></a>
        <a href="https://youtube.com/" class="fa fa-youtube"></a>
        <a href="https://google.com/" class="fa fa-google"></a>
    </div>
    <div class="footer-3">
        <p>Copyright &copy; 2022 Amar Smaic</p>
    </div>
</div>
</body>
</html>